<div class="div-red">
	<div class="login">
		<p class="white center">Log In</p>

		<p class="white">Email</p>
		<input class="input left" type="text">

		<p class="white">Password</p>
		<input class="input left" type="password">

		<p class="white underline">Forgot your Password?</p>

		<button>Log In</button>
	</div>
	<div class="vertical-line"></div>
	<div class="creates">
		<p class="white center">Create your profile</p>

		<p class="white left-margin">Name</p>
		<input class="input right" type="text">

		<p class="white left-margin">Email</p>
		<input class="input right" type="text">

		<p class="white left-margin">Password</p>
		<input class="input right" type="password">

		<button>Confirm</button>
	</div>
</div>